html, body {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 700px;
}

/* list view */

#list-view {
    height: 100%;
    background-color: lightblue;
    font-size: 2em;
}



/* map */

#map {
    background-color: lightgrey;
    height: 100%;
}

/* popup */
.popup  {
    text-align: center;
}
.popup h1 {
    font-size: 1.3em;
    margin: 0;
}
.popup p {
    margin: .2em;
}

/* list view */

.panel-heading {
    font-size: .5em;
    text-align: center;
}

.list-group button {
    font-size: 50%;
    text-align: center;
    padding: .5em;
}

#search-results-div {
    z-index: 1;
    font-size: 2.5em;
    color: white;
    margin-right: 5%;
    
}
#search-results-div button {
    background-color: rgba(255,255,255,.2);
    width: 100%;
}